.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 70vh;
    background-color: whitesmoke;
  }
  
  .card{
    background-color: turquoise;
    width: 12vw;
    height: 20vh;
    margin: 10px;
    border-radius: 5%;
    border: solid 1px black;
    padding: auto;
    overflow: auto;
  }
  
  .card-title{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    color: crimson;
  }
  
  .card-content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: indigo;
  }